<div class="main-container">
    <div class="toolbar" (mouseenter)="hover()" (mouseleave)="unhover()">
        <app-toolbar></app-toolbar>
    </div>
    <div [ngClass]="{unhover: !mouseOn, hover: mouseOn}">      
        <div class="card">
            <h1>Risk: </h1>
        </div>
        <button mat-stroked-button (click)="test()">Click for test</button>
        <button mat-stroked-button (click)="covidGen()">Generate Covid Data</button>
        <button mat-stroked-button (click)="allGen()">Generate All Data</button>
        <button mat-stroked-button (click)="distanceFinder()">Calculate Distance</button>

    </div> 
</div>



