<nav class="navbar">
    <ul class="navbar-nav">
        <li class="logo">
            <a href="/home" class="nav-link">
                <span class="link-text logo-text">Terra</span>
                <i class="fas fa-angle-double-right fa-2x fa-primary fa-secondary"></i>
            </a>
        </li>
        <li class="nav-item">
            <a href="/covid/risk" class="nav-link">
                <i class="fas fa-circle-notch fa-2x fa-primary fa-secondary"></i>

                <span class="link-text">Risk</span>
            </a>
        </li>

        <li class="nav-item">
            <a href="#" class="nav-link">
                <i class="fas fa-city fa-2x fa-primary fa-secondary"></i>

                <span class="link-text">Community</span>
            </a>
        </li>

        <li class="nav-item">
            <a href="#" class="nav-link">
                <i class="fas fa-notes-medical fa-2x fa-primary fa-secondary"></i>
                <span class="link-text">Status</span>
            </a>
        </li>

        <li class="nav-item">
            <a href="#" class="nav-link">
                <i class="fas fa-question fa-2x fa-primary fa-secondary"></i>
                <span class="link-text">Help</span>
            </a>
        </li>
    </ul>
</nav>
<div class="mobile-toolbar">
    <mat-toolbar color="white" style="background-color: #23232e;" class="mat-toolbar">
        
        <a href="/home" class="mobile-item">
            <i class="fas fa-home fa-5x fa-primary fa-secondary"></i>

                <span class="link-text">Home</span>
        </a>

        <a href="/covid/risk" class="mobile-item">
                <i class="fas fa-circle-notch fa-5x fa-primary fa-secondary"></i>

                <span class="link-text">Your Risk</span>
        </a>
        
        <a href="/home" class="mobile-item">
            <i class="fas fa-city fa-5x fa-primary fa-secondary"></i>

            <span class="link-text">Community Risk</span>
        </a>

        <a href="/home" class="mobile-item">
            <i class="fas fa-notes-medical fa-5x fa-primary fa-secondary"></i>

                <span class="link-text">Status</span>
        </a>
    </mat-toolbar>
</div>