<div class="main-container">
    <div class="toolbar" (mouseenter)="hover()" (mouseleave)="unhover()">
        <app-toolbar></app-toolbar>
    </div>
    <div [ngClass]="{unhover: !mouseOn, hover: mouseOn}">
        <h1>Dogs and Aliens are very alike...</h1>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce tincidunt diam elit, eget convallis quam
            scelerisque ac. Nullam et felis pretium, venenatis urna id, faucibus est. Fusce a fermentum arcu. Aliquam
            erat volutpat. Pellentesque quis nisi viverra, luctus mauris quis, varius elit. Aliquam ac ultricies mauris.
            Fusce aliquet nunc ac justo ornare, a vulputate ante sollicitudin. Vestibulum ligula elit, tempor vel purus
            et, aliquam euismod justo. Aenean euismod augue sit amet orci interdum tempus. Nulla tincidunt aliquet
            augue, in hendrerit justo euismod eu. Vivamus consequat sit amet libero ac sagittis.

            Ut tempus mi ut urna placerat scelerisque. Praesent auctor ante sit amet hendrerit hendrerit. Morbi eros
            nisl, laoreet et tempus quis, luctus quis nisl. Praesent egestas placerat maximus. Nunc volutpat tellus ut
            posuere auctor. Maecenas ac neque at elit blandit elementum non eu quam. Sed eu libero ut diam semper
            rhoncus ut at turpis. Integer ipsum ex, aliquet sed nulla at, porttitor convallis neque. Sed sit amet
            euismod libero, quis gravida sem. Etiam tincidunt, ante in consequat feugiat, magna elit lacinia sapien,
            vitae tempor sem magna non magna. Quisque quis nisl libero. Donec interdum posuere orci non pellentesque.
            Quisque tempor, libero quis tincidunt rutrum, turpis enim elementum sem, eu lacinia velit augue quis eros.
            Praesent vel libero et odio pellentesque ultricies eget ac leo. Pellentesque at urna id est dapibus
            pellentesque mollis eu leo. Aliquam vitae magna nisl.</p>
        <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Voluptatem quam dolorem numquam harum, veritatis
            consequatur odit perspiciatis et repellendus enim nobis cupiditate qui recusandae repudiandae inventore hic
            officia ea illo! Lorem ipsum dolor sit, amet consectetur adipisicing elit. Temporibus quisquam consequuntur
            ad architecto dolorum iste alias at qui sapiente tenetur! Nam beatae inventore, sed ut rerum perspiciatis
            blanditiis similique distinctio?</p>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce tincidunt diam elit, eget convallis quam
            scelerisque ac. Nullam et felis pretium, venenatis urna id, faucibus est. Fusce a fermentum arcu. Aliquam
            erat volutpat. Pellentesque quis nisi viverra, luctus mauris quis, varius elit. Aliquam ac ultricies mauris.
            Fusce aliquet nunc ac justo ornare, a vulputate ante sollicitudin. Vestibulum ligula elit, tempor vel purus
            et, aliquam euismod justo. Aenean euismod augue sit amet orci interdum tempus. Nulla tincidunt aliquet
            augue, in hendrerit justo euismod eu. Vivamus consequat sit amet libero ac sagittis.

            Ut tempus mi ut urna placerat scelerisque. Praesent auctor ante sit amet hendrerit hendrerit. Morbi eros
            nisl, laoreet et tempus quis, luctus quis nisl. Praesent egestas placerat maximus. Nunc volutpat tellus ut
            posuere auctor. Maecenas ac neque at elit blandit elementum non eu quam. Sed eu libero ut diam semper
            rhoncus ut at turpis. Integer ipsum ex, aliquet sed nulla at, porttitor convallis neque. Sed sit amet
            euismod libero, quis gravida sem. Etiam tincidunt, ante in consequat feugiat, magna elit lacinia sapien,
            vitae tempor sem magna non magna. Quisque quis nisl libero. Donec interdum posuere orci non pellentesque.
            Quisque tempor, libero quis tincidunt rutrum, turpis enim elementum sem, eu lacinia velit augue quis eros.
            Praesent vel libero et odio pellentesque ultricies eget ac leo. Pellentesque at urna id est dapibus
            pellentesque mollis eu leo. Aliquam vitae magna nisl.</p>
        <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Voluptatem quam dolorem numquam harum, veritatis
            consequatur odit perspiciatis et repellendus enim nobis cupiditate qui recusandae repudiandae inventore hic
            officia ea illo! Lorem ipsum dolor sit, amet consectetur adipisicing elit. Temporibus quisquam consequuntur
            ad architecto dolorum iste alias at qui sapiente tenetur! Nam beatae inventore, sed ut rerum perspiciatis
            blanditiis similique distinctio?</p>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce tincidunt diam elit, eget convallis quam
                scelerisque ac. Nullam et felis pretium, venenatis urna id, faucibus est. Fusce a fermentum arcu. Aliquam
                erat volutpat. Pellentesque quis nisi viverra, luctus mauris quis, varius elit. Aliquam ac ultricies mauris.
                Fusce aliquet nunc ac justo ornare, a vulputate ante sollicitudin. Vestibulum ligula elit, tempor vel purus
                et, aliquam euismod justo. Aenean euismod augue sit amet orci interdum tempus. Nulla tincidunt aliquet
                augue, in hendrerit justo euismod eu. Vivamus consequat sit amet libero ac sagittis.
    
                Ut tempus mi ut urna placerat scelerisque. Praesent auctor ante sit amet hendrerit hendrerit. Morbi eros
                nisl, laoreet et tempus quis, luctus quis nisl. Praesent egestas placerat maximus. Nunc volutpat tellus ut
                posuere auctor. Maecenas ac neque at elit blandit elementum non eu quam. Sed eu libero ut diam semper
                rhoncus ut at turpis. Integer ipsum ex, aliquet sed nulla at, porttitor convallis neque. Sed sit amet
                euismod libero, quis gravida sem. Etiam tincidunt, ante in consequat feugiat, magna elit lacinia sapien,
                vitae tempor sem magna non magna. Quisque quis nisl libero. Donec interdum posuere orci non pellentesque.
                Quisque tempor, libero quis tincidunt rutrum, turpis enim elementum sem, eu lacinia velit augue quis eros.
                Praesent vel libero et odio pellentesque ultricies eget ac leo. Pellentesque at urna id est dapibus
                pellentesque mollis eu leo. Aliquam vitae magna nisl.</p>
            <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Voluptatem quam dolorem numquam harum, veritatis
                consequatur odit perspiciatis et repellendus enim nobis cupiditate qui recusandae repudiandae inventore hic
                officia ea illo! Lorem ipsum dolor sit, amet consectetur adipisicing elit. Temporibus quisquam consequuntur
                ad architecto dolorum iste alias at qui sapiente tenetur! Nam beatae inventore, sed ut rerum perspiciatis
                blanditiis similique distinctio?</p>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce tincidunt diam elit, eget convallis quam
                scelerisque ac. Nullam et felis pretium, venenatis urna id, faucibus est. Fusce a fermentum arcu. Aliquam
                erat volutpat. Pellentesque quis nisi viverra, luctus mauris quis, varius elit. Aliquam ac ultricies mauris.
                Fusce aliquet nunc ac justo ornare, a vulputate ante sollicitudin. Vestibulum ligula elit, tempor vel purus
                et, aliquam euismod justo. Aenean euismod augue sit amet orci interdum tempus. Nulla tincidunt aliquet
                augue, in hendrerit justo euismod eu. Vivamus consequat sit amet libero ac sagittis.
    
                Ut tempus mi ut urna placerat scelerisque. Praesent auctor ante sit amet hendrerit hendrerit. Morbi eros
                nisl, laoreet et tempus quis, luctus quis nisl. Praesent egestas placerat maximus. Nunc volutpat tellus ut
                posuere auctor. Maecenas ac neque at elit blandit elementum non eu quam. Sed eu libero ut diam semper
                rhoncus ut at turpis. Integer ipsum ex, aliquet sed nulla at, porttitor convallis neque. Sed sit amet
                euismod libero, quis gravida sem. Etiam tincidunt, ante in consequat feugiat, magna elit lacinia sapien,
                vitae tempor sem magna non magna. Quisque quis nisl libero. Donec interdum posuere orci non pellentesque.
                Quisque tempor, libero quis tincidunt rutrum, turpis enim elementum sem, eu lacinia velit augue quis eros.
                Praesent vel libero et odio pellentesque ultricies eget ac leo. Pellentesque at urna id est dapibus
                pellentesque mollis eu leo. Aliquam vitae magna nisl.</p>
            <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Voluptatem quam dolorem numquam harum, veritatis
                consequatur odit perspiciatis et repellendus enim nobis cupiditate qui recusandae repudiandae inventore hic
                officia ea illo! Lorem ipsum dolor sit, amet consectetur adipisicing elit. Temporibus quisquam consequuntur
                ad architecto dolorum iste alias at qui sapiente tenetur! Nam beatae inventore, sed ut rerum perspiciatis
                blanditiis similique distinctio?</p>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Rem suscipit reprehenderit dolor, 
            fuga odio odit commodi temporibus voluptates id deleniti molestias, excepturi repellendus 
            explicabo atque doloribus assumenda blanditiis saepe. Sed.</p>
    </div> 
</div>


